@import "vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - $desktopWidth / 2);
  padding-right: calc(50% - $desktopWidth / 2);
}

.header {
  background-color: $colorMainBack;
  padding-top: 20px;
  padding-bottom: 20px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 33px;
  }

  &__icon:hover {
    fill: $colorMainSelected;
    cursor: pointer;
  }

  &__icon:active {
    fill: gray;
  }
}

.nav {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: #f16d7f;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__breadcrumb {
    color: #636363;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: color 0.4s;

    &:hover {
      color: $colorMainSelected;
    }

    &:active {
      color: #636363;
    }

    &:last-child {
      color: $colorMainSelected;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &:hover {
        color: #636363;
      }

      &:active {
        color: $colorMainSelected;
      }
    }
  }
}

.catalog-main {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;

  &__icon {
    fill: #000;
    transition: fill 0.4s;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);

    &:hover {
      cursor: pointer;

      .catalog-main__icon {
        fill: $colorMainSelected;
      }
    }

    &:active {
      .catalog-main__icon {
        fill: #222;
      }
    }
  }
}



.woman-collection {
  position: relative;
  height: 665px;
  display: flex;
  justify-content: center;

  &__content {
    max-width: $desktopWidth;
    height: 600px;
    position: absolute;
    top: -65px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  &__title {
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 12px;
    border-bottom: 3px solid $colorMainSelected;
    margin-bottom: 12px;
  }

  &__subtitle {
    color: #4d4d4d;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 48px;
  }

  &__text {
    color: #5e5e5e;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 555px;
    margin-bottom: 32px;
  }

  &__price {
    color: #ef5b70;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 640px;
    text-align: center;
    padding-bottom: 65px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 65px;
  }

  &__filters {
    display: flex;
    gap: 24px;
    margin-bottom: 48px;
  }

  &__filter {
    display: flex;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__button {
    width: 212px;
    border: 1px solid $colorMainSelected;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    color: #f26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: background-color 0.4s, color 0.4s;

    &:hover {
      background-color: $colorMainSelected;
      color: #fff;

      .cart {
        transition: fill 0.4s;
        fill: #fff;
      }
    }

    &:active {
      background-color: #fff;
      color: $colorMainSelected;

      .cart {
        transition: fill 0.4s;
        fill: $colorMainSelected;
      }
    }
  }
}

.examples {
  padding-bottom: 98px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    max-width: $thirdPart;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &__name {
      display: block;
      color: #000;
      font-family: Lato;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 12px;
      transition: color 0.4s;

      &:hover {
        color: $colorMainSelected;
      }

      &:active {
        color: inherit;
      }
    }

    &__text {
      color: #5d5d5d;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 16px;
    }

    &__price {
      color: #f16d7f;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__item__descr {
    background-color: #f8f8f8;
    padding: 24px 16px;
  }
}

.subscribe {
  position: relative;
  height: 448px;

  &__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding-top: 97px;
    width: 100%;
    top: 0;
    left: 0;
  }

  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 360px;
    gap: 30px;

    & img {
      border-radius: 50%;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__text {
    text-align: center;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__title {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
    /* 40.128px */
  }

  &__subtitle {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
  }

  &__form {
    display: flex;
  }

  &__email {
    padding: 1rem 5rem 1rem 2rem;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 25px 0 0 25px;

    &:focus {
      outline: none;
    }
  }

  &__button {
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: $colorMainSelected;
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 1rem;
    transition: background-color 0.4s;

    &:hover {
      background-color: #a54754;
      cursor: pointer;
    }

    &:active {
      background-color: $colorMainSelected;
    }
  }
}

.footer {
  background-color: $colorMainBack;
  padding-top: 24px;
  padding-bottom: 24px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &-right {
    display: flex;
    gap: 8px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    transition: background-color 0.4s;

    &:hover {
      background-color: $colorMainSelected;
    }

    &:active {
      background-color: #fff;
    }
  }
}


@media screen and (max-width: 767px) {
  .center {
    padding: 0 2%;
  }

  .catalog {
    &-main__photo img {
      width: 80%;
    }
  }

  .examples {
    flex-wrap: wrap;
    &__item {
      max-width: 96%;
    }
  }
}